#node-border {
    background-color: rgba(90, 90, 90, 255);
    border-left-color: rgba(130, 130, 130, 255);
    border-right-color: rgba(130, 130, 130, 255);
    border-top-color: rgba(130, 130, 130, 255);
    border-bottom-color: rgba(130, 130, 130, 255);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#input {
    align-items: center;
}

#output {
    align-items: center;
}
